Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: removes inputIdentifier
  packages/zephyr/src/Forms/InputPrimitive.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr-stitches): fix button types and increase story padding
  packages/zephyr-stitches/src/Button.tsx
  packages/zephyr-stitches/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr-stitches): add in text component
  packages/zephyr-stitches/src/Text.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr-stiches): add in tooltip component
  packages/zephyr-stitches/src/Tooltip.styles.ts
  packages/zephyr-stitches/src/Tooltip.tsx
  packages/zephyr-stitches/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr-stitches): add in icon button component
  packages/zephyr-stitches/src/IconButton.styles.ts
  packages/zephyr-stitches/src/IconButton.tsx
  packages/zephyr-stitches/stories/IconButton.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): add in missing package
  packages/zephyr-stitches/package.json
  yarn.lock
Due: none

feat(@air/zephyr-stitches): add in tag component
  packages/zephyr-stitches/src/Tag.styles.ts
  packages/zephyr-stitches/src/Tag.tsx
  packages/zephyr-stitches/stories/Tag.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr-stitches): add in pill component
  packages/zephyr-stitches/src/Pill.styles.ts
  packages/zephyr-stitches/src/Pill.tsx
  packages/zephyr-stitches/stories/Pill.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): remove default onClick value from tag
  packages/zephyr-stitches/src/Tag.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): export toString and IconButtonRoot from IconButton
  packages/zephyr-stitches/src/IconButton.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): export toString, TooltipArrow, and TooltipContent from Tooltip
  packages/zephyr-stitches/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): add in adornment to pill component
  packages/zephyr-stitches/src/Pill.styles.ts
  packages/zephyr-stitches/src/Pill.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr-stitches): export toString, PillRoot, PillAdornment and AdornmentProps from Pill
  packages/zephyr-stitches/src/Pill.styles.ts
  packages/zephyr-stitches/src/Pill.tsx
Due: prettier --write, eslint --fix

feat: styles border of editable text component correctly for dark mode
  packages/zephyr/package.json
  packages/zephyr/src/EditableText.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Remove next-themes
  packages/zephyr/package.json
Due: none

Remove next-themes
  yarn.lock
Due: none

Add a mode prop to allow for dark mode editable text components
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

feat(icons): add marketing nav icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Nav-Blog.svg
  packages/icons/src/svgs/uncategorized/Nav-Culture.svg
  packages/icons/src/svgs/uncategorized/Nav-Diversity.svg
  packages/icons/src/svgs/uncategorized/Nav-Feedback.svg
  packages/icons/src/svgs/uncategorized/Nav-Img-Recognition.svg
  packages/icons/src/svgs/uncategorized/Nav-Policies.svg
  packages/icons/src/svgs/uncategorized/Nav-SLA-Manager.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat(icons): add growth icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Nav-Growth.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat: adds react-linkify; supports links in editable text
  packages/zephyr/package.json
  packages/zephyr/src/EditableText.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix: innitial working version
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix: default the prop to false
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix: clean usage of wrapper component
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in title to RadixDropdownMenu
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
  packages/zephyr/stories/menus/abstractions/RadixDropdownMenu.stories.tsx
Due: prettier --write, eslint --fix

Add HideNested and ShowNested icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/HideNested.svg
  packages/icons/src/svgs/uncategorized/ShowNested.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Fix format
  packages/icons/src/svgs/uncategorized/HideNested.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr-stitches): export all components
  packages/zephyr-stitches/src/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr-stitches/CHANGELOG.md
  packages/zephyr-stitches/package.json
Due: prettier --write

fix(@air/zephyr-stitches): fix types
  packages/zephyr-stitches/package.json
  packages/zephyr-stitches/tsconfig.build.json
Due: none

fix(@air/colors): fix "main" file path
  packages/colors/package.json
Due: none

chore(release): publish
  packages/colors/CHANGELOG.md
  packages/colors/package.json
  packages/zephyr-stitches/CHANGELOG.md
  packages/zephyr-stitches/package.json
Due: prettier --write

fix(@air/zephyr-stitches): fix types file path
  packages/zephyr-stitches/package.json
Due: none

fix(@air/zephyr): prevent onSubmit from firing when the value remains the same
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

New icons for nested items
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/HideNested.svg
  packages/icons/src/svgs/uncategorized/NestedHidden.svg
  packages/icons/src/svgs/uncategorized/NestedVisible.svg
  packages/icons/src/svgs/uncategorized/ShowNested.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
