Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/icons): fix missing boards duplicate icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Board-Duplicate.svg
  packages/icons/src/svgs/uncategorized/Eye-Closed.svg
  packages/icons/src/svgs/uncategorized/Eye.svg
  packages/icons/src/svgs/uncategorized/Soccer.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/icons): remove class and ids from icons
  packages/icons/src/svgs/uncategorized/Eye-Closed.svg
  packages/icons/src/svgs/uncategorized/Eye.svg
  packages/icons/src/svgs/uncategorized/Soccer.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/icons): fix icons paths still having fill="#HEX"
  packages/icons/src/svgs/uncategorized/Apple.svg
  packages/icons/src/svgs/uncategorized/Behance.svg
  packages/icons/src/svgs/uncategorized/Cart.svg
  packages/icons/src/svgs/uncategorized/Chevron-Down.svg
  packages/icons/src/svgs/uncategorized/Chevron-Left.svg
  packages/icons/src/svgs/uncategorized/Chevron-Right.svg
  packages/icons/src/svgs/uncategorized/Chevron-Up.svg
  packages/icons/src/svgs/uncategorized/Dart.svg
  packages/icons/src/svgs/uncategorized/DesktopApp.svg
  packages/icons/src/svgs/uncategorized/DoubleChevron-Down.svg
  packages/icons/src/svgs/uncategorized/DoubleChevron-Left.svg
  packages/icons/src/svgs/uncategorized/DoubleChevron-Right.svg
  packages/icons/src/svgs/uncategorized/DoubleChevron-Up.svg
  packages/icons/src/svgs/uncategorized/Dribbble.svg
  packages/icons/src/svgs/uncategorized/Fields.svg
  packages/icons/src/svgs/uncategorized/Gear-Filled.svg
  packages/icons/src/svgs/uncategorized/Github.svg
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
  packages/icons/src/svgs/uncategorized/Help.svg
  packages/icons/src/svgs/uncategorized/House.svg
  packages/icons/src/svgs/uncategorized/ImageBroken.svg
  packages/icons/src/svgs/uncategorized/MagnifyingGlass.svg
  packages/icons/src/svgs/uncategorized/Palette.svg
  packages/icons/src/svgs/uncategorized/Popcorn.svg
  packages/icons/src/svgs/uncategorized/Refresh.svg
  packages/icons/src/svgs/uncategorized/Skip.svg
  packages/icons/src/svgs/uncategorized/Star-Filled.svg
  packages/icons/src/svgs/uncategorized/Star.svg
  packages/icons/src/svgs/uncategorized/Sync.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/icons): add in missing sorting icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Sorting.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat: add kanban, triangle-in-circle, filtering
  packages/icons/scripts/add-icon.js
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Kanban.svg
  packages/icons/src/svgs/uncategorized/TriangleInCircle.svg
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: fix ds_store inclusion
  packages/icons/scripts/grabListOfIconPathData.js
  packages/icons/src/IconPathData.json
Due: prettier --write, eslint --fix

style: move shared stuff to utils
  packages/icons/scripts/add-icon.js
  packages/icons/scripts/grabListOfIconPathData.js
  packages/icons/scripts/utils.js
Due: prettier --write, eslint --fix

fix(@air/icons): use forwardRef on icon exports
  packages/icons/scripts/add-icon.js
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

fix(@air/icons): resolve type issues
  packages/icons/scripts/add-icon.js
  packages/icons/src/index.tsx
  packages/zephyr/src/shared.tsx
Due: prettier --write, eslint --fix

chore: lint fix
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): update macaw colors
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix: arrow right pointed left
  packages/icons/src/svgs/uncategorized/Arrow-Right.svg
  yarn.lock
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: s4 - SingleSelect cuts off g
  packages/zephyr/src/Forms/SingleSelect.tsx
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
Due: prettier --write, eslint --fix

fix: adds optional testId for options in singleSelect dropdown
  packages/zephyr/src/Forms/SingleSelect.tsx
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
Due: prettier --write, eslint --fix

fix: remove unnec brackets
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
Due: prettier --write, eslint --fix

feat(loop.svg): add loop icon svg
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Loop.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

WIP
  packages/zephyr/package.json
  packages/zephyr/src/NewMenu/components/Example.tsx
  packages/zephyr/src/NewMenu/components/Menu.tsx
  packages/zephyr/src/NewMenu/components/MenuItem.tsx
  packages/zephyr/src/NewMenu/components/MenuItemDescription.tsx
  packages/zephyr/src/NewMenu/components/MenuItemDivider.tsx
  packages/zephyr/src/NewMenu/components/MenuItemLabel.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(@air/zephyr): update colors
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

feat(component): adds new dropdown menu components
  packages/zephyr/src/NewMenu/abstractions/DropdownMenu.tsx
  packages/zephyr/src/NewMenu/components/MenuItem.tsx
  packages/zephyr/src/NewMenu/components/MenuItemLabel.tsx
  packages/zephyr/src/NewMenu/utils/getPosition.ts
  packages/zephyr/stories/menus/abstractions/NewMenu.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat: add isPortal prop to DropdownMenu
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): remove css prop support
  @types/styled-components.d.ts
  packages/icons/scripts/add-icon.js
  packages/icons/src/index.tsx
  packages/zephyr/src/Box.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove comment
  packages/zephyr/src/Box.tsx
Due: prettier --write, eslint --fix

feat(component): adds a radix dropdown menu abstraction that supports sub-menus
  packages/zephyr/package.json
  packages/zephyr/src/RadixMenu/abstractions/DropdownMenu.tsx
  packages/zephyr/src/RadixMenu/components/Menu.tsx
  packages/zephyr/src/RadixMenu/components/MenuItem.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemDescription.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemDivider.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemLabel.tsx
  packages/zephyr/src/RadixMenu/utils/inlineStyles.ts
  packages/zephyr/stories/menus/abstractions/RadixMenu.stories.tsx
Due: prettier --write, eslint --fix

revert(@air/zephyr): revert colors update
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

refactor: code review feedback
  packages/zephyr/src/Menus/components/MenuItemDescription.tsx
  packages/zephyr/src/Menus/components/MenuItemLabel.tsx
  packages/zephyr/src/RadixMenu/abstractions/DropdownMenu.tsx
  packages/zephyr/src/RadixMenu/components/Menu.tsx
  packages/zephyr/src/RadixMenu/components/MenuItem.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemDescription.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemDivider.tsx
  packages/zephyr/src/RadixMenu/components/MenuItemLabel.tsx
  packages/zephyr/src/RadixMenu/index.tsx
  packages/zephyr/src/RadixMenu/utils/inlineStyles.ts
Due: prettier --write, eslint --fix

refactor: remove console log
  packages/zephyr/src/RadixMenu/components/MenuItem.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
