Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.svg": [
    "svgo --pretty --config=./packages/icons/svgo.config.format.json"
  ]
}

chore: add typescript and ts-jest to resolutions to upgrade
  package.json
  yarn.lock
Due: none

refactor(@air/zephyr/iconbutton)!: rename "hiddenLabel" prop to "children"
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/XButton.tsx
  packages/zephyr/stories/buttons/IconButton.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr/iconbutton): ensure tx prop beats out variant styles
  packages/zephyr/src/IconButton.tsx
Due: prettier --write, eslint --fix

adding new icons import from and add to board
  packages/icons/src/svgs/uncategorized/AddToBoard.svg
  packages/icons/src/svgs/uncategorized/ImportFrom.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

-removing unused properties
  packages/icons/src/svgs/uncategorized/AddToBoard.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat: add new icons to index
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

feat: format new icons
  packages/icons/src/svgs/uncategorized/AddToBoard.svg
  packages/icons/src/svgs/uncategorized/ImportFrom.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

ci: try to fix ci not working on all branches
  .github/workflows/ci.yml
Due: none

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: update iconpathdata
  packages/icons/src/IconPathData.json
Due: none

fix(@air/zephyr/transactionmodal): allow any objects for CTAs
  packages/zephyr/src/Modals/TransactionModal.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/input): add missing autocomplete values from types
  packages/zephyr/src/Forms/Input.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/button): use 16px icon for medium button adornment
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/button): button content vertical alignment
  packages/zephyr/stories/buttons/Button.stories.tsx
Due: prettier --write, eslint --fix

fix(tooltip): set Trigger type as undefined
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

feat(tooltip): expose Radix popper and popperarrow props to zephyr tooltip users
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix(tooltip): name `arrowOffset` prop instead of extending it from `PopperArrowOwnProps`
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix ellipsis icon path
  packages/icons/src/svgs/uncategorized/Ellipsis.svg
  packages/icons/src/svgs/uncategorized/EllipsisVertical.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zepphyr): remove fill=none from svg
  packages/icons/src/svgs/uncategorized/Ellipsis.svg
  packages/icons/src/svgs/uncategorized/EllipsisVertical.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr/tooltip): update dependencies
  packages/zephyr/package.json
  patches/@radix-ui+react-tooltip+0.0.2.patch
  patches/@radix-ui+react-tooltip+0.0.9.patch
  yarn.lock
Due: none

fix(@air/zephyr/tooltip): prevent rerendering issues with children
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

docs: add story to prove that there's no more issue with animated css or re-rendering
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/tooltip): add story describing how to use Tooltip with disabled elements
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/button): remove pointer styles on buttons when disabled
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

fix(@air/eslint-config): disable lint rule that prettier hates
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

feat(@air/icons): update and add icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Boards-All.svg
  packages/icons/src/svgs/uncategorized/Boards.svg
  packages/icons/src/svgs/uncategorized/DownArrow.svg
  packages/icons/src/svgs/uncategorized/LeftArrow.svg
  packages/icons/src/svgs/uncategorized/RightArrow.svg
  packages/icons/src/svgs/uncategorized/UpArrow.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/icons): fix viewbox issues with icons commit
  packages/icons/src/svgs/uncategorized/Boards-All.svg
  packages/icons/src/svgs/uncategorized/Boards.svg
  packages/icons/src/svgs/uncategorized/DownArrow.svg
  packages/icons/src/svgs/uncategorized/LeftArrow.svg
  packages/icons/src/svgs/uncategorized/RightArrow.svg
  packages/icons/src/svgs/uncategorized/UpArrow.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat(breaking - remove and add icons): remove library icon and add stack icon to replace it
  packages/icons/README.md
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
  packages/icons/src/svgs/uncategorized/Library.svg
  packages/icons/src/svgs/uncategorized/Stack.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

revert(undoes accidental class change for google drive icon): undo class change for g drive icon
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

revert(revert google drive icon class changes): revert google drive icon class changes
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(icons): replace Down, Left, Right and Up Arrows with new svgs
  packages/icons/src/svgs/uncategorized/DownArrow.svg
  packages/icons/src/svgs/uncategorized/LeftArrow.svg
  packages/icons/src/svgs/uncategorized/RightArrow.svg
  packages/icons/src/svgs/uncategorized/UpArrow.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): update text variants
  packages/zephyr/src/theme/variants/text.ts
  packages/zephyr/stories/Text.stories.tsx
Due: prettier --write, eslint --fix
