Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.svg": [
    "svgo --pretty --config=./packages/icons/svgo.config.format.json"
  ]
}

feat(@air/zephyr): add in button link
  packages/zephyr/src/ButtonLink.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/src/theme/variants/button-link.ts
  packages/zephyr/src/theme/variants/index.ts
  packages/zephyr/stories/buttons/ButtonLink.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in dart icon
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Dart.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat: adds tertiary option to transaction modal
  packages/zephyr/src/Modals/TransactionModal.tsx
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

fix: rebasing with main
  packages/zephyr/src/Modals/TransactionModal.tsx
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

feat: fixing the doc comment
  packages/zephyr/src/Modals/TransactionModal.tsx
Due: prettier --write, eslint --fix

feat: remove the tertiary transac modal with button as its redundant
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

feat: grammar fixes
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

chore: remove AnimatePresence from actionsheet
  packages/zephyr/src/ActionSheet/ActionSheet.tsx
  packages/zephyr/stories/actionsheets/ActionSheet.stories.tsx
Due: prettier --write, eslint --fix

chore: added AnimatePresence documentation note to ActionSheet
  packages/zephyr/stories/actionsheets/ActionSheet.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: exported ActionSheet label and description so consumers can use
  packages/zephyr/src/ActionSheet/components/ActionSheetDescription.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetItem.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetLabel.tsx
Due: prettier --write, eslint --fix

chore: spreaded in tx props
  packages/zephyr/src/ActionSheet/components/ActionSheetDescription.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetLabel.tsx
Due: prettier --write, eslint --fix

chore: added actionsheet labe and description exports
  packages/zephyr/src/ActionSheet/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in tx prop to button link
  packages/zephyr/src/ButtonLink.tsx
Due: prettier --write, eslint --fix

fix(zephyr/buttonlink): pass onClick to ButtonLink
  packages/zephyr/src/ButtonLink.tsx
Due: prettier --write, eslint --fix

style(zephyr/buttonlink): alphabetize props
  packages/zephyr/src/ButtonLink.tsx
Due: prettier --write, eslint --fix

update node version
  .nvmrc
Due: none

update deps and build
  package.json
  packages/icons/src/IconPathData.json
  yarn.lock
Due: none

update deps
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  yarn.lock
Due: none

chore: update deps + fix broken import
  packages/zephyr/src/Button.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
  packages/zephyr/stories/forms/Input.stories.tsx
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
  packages/zephyr/stories/modals/shared.tsx
Due: prettier --write, eslint --fix

chore: fix more imports and fix issue with storybok 6.3 dep
  jest.config.js
  package.json
  packages/zephyr/stories/buttons/FilledButton.stories.tsx
  packages/zephyr/stories/buttons/GhostButton.stories.tsx
  packages/zephyr/stories/buttons/IconButton.stories.tsx
  packages/zephyr/stories/buttons/OutlineButton.stories.tsx
  packages/zephyr/stories/menus/abstractions/ContextMenu.stories.tsx
  packages/zephyr/stories/menus/abstractions/DropdownMenu.stories.tsx
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: adjust lint error solve
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

chore: update deps
  package.json
  yarn.lock
Due: none

chore: update tsconfig for jsx transform
  tsconfig.json
Due: none

chore: allow umd global access
  tsconfig.json
Due: none

chore: adjust lint rules for react 17
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore(@air/eslint-config): ban default imports of React
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore(@air/zephyr): adjust imports to appease linter
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/Forms/Input.tsx
  packages/zephyr/src/Forms/SingleSelect.tsx
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
  packages/zephyr/src/Text.tsx
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/test-utils.tsx
Due: prettier --write, eslint --fix

fix type error
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): remove duplicate icons and fix skip, boardsadd, volumelow
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/DownArrow.svg
  packages/icons/src/svgs/uncategorized/DownloadAlt-Circled.svg
  packages/icons/src/svgs/uncategorized/DownloadAlt.svg
  packages/icons/src/svgs/uncategorized/Dribbble.svg
  packages/icons/src/svgs/uncategorized/Dribble.svg
  packages/icons/src/svgs/uncategorized/Eye-Closed.svg
  packages/icons/src/svgs/uncategorized/Eye.svg
  packages/icons/src/svgs/uncategorized/FullScreen-Exit.svg
  packages/icons/src/svgs/uncategorized/LeftArrow.svg
  packages/icons/src/svgs/uncategorized/RightArrow.svg
  packages/icons/src/svgs/uncategorized/Skip.svg
  packages/icons/src/svgs/uncategorized/Soccer.svg
  packages/icons/src/svgs/uncategorized/Sorting.svg
  packages/icons/src/svgs/uncategorized/UpArrow.svg
  packages/icons/src/svgs/uncategorized/Upload-File.svg
  packages/icons/src/svgs/uncategorized/Upload-Folder.svg
  packages/icons/src/svgs/uncategorized/VolumeLow.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Update README.md
  packages/icons/README.md
Due: prettier --write
