Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(zephry/button): remove invariant restriction for isLoading prop on ghost & unstyled buttons
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

feat(zephyr/buttonlink): expose as prop so ButtonLink can be cast as an anchor with disabled styling
  packages/zephyr/src/ButtonLink.tsx
Due: prettier --write, eslint --fix

feat(zephyr/buttonlink): set default as to button, add disabled classname styling to variant
  packages/zephyr/src/ButtonLink.tsx
  packages/zephyr/src/theme/variants/button-link.ts
Due: prettier --write, eslint --fix

feat(storybook/buttonlink): reflect as anchor tag ButtonLink in storybook
  packages/zephyr/stories/buttons/ButtonLink.stories.tsx
Due: prettier --write, eslint --fix

chore(stories/buttonlink): clarify button as anchor text
  packages/zephyr/stories/buttons/ButtonLink.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(zephyr/buttonlink): use PropsWithAs and forwardRefWithAs to access anchor HTML element
  packages/zephyr/src/ButtonLink.tsx
  packages/zephyr/stories/buttons/ButtonLink.stories.tsx
Due: prettier --write, eslint --fix

chore(zephyr/button): remove outdated comment
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

fix: add prop to RadixMenu.Root to prevent looping code
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
Due: prettier --write, eslint --fix

docs: add comment
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
Due: prettier --write, eslint --fix

feat: add annotation icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Annotation.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(colors): update macaw colors hex codes
  packages/colors/src/colors.ts
Due: prettier --write, eslint --fix

chore(revert last publish commit): revert last publish commit
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore(release): publish
  packages/colors/CHANGELOG.md
  packages/colors/package.json
Due: prettier --write

feat: replace annotation icon
  packages/icons/src/svgs/uncategorized/Annotation.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: replace annotation icon
  packages/icons/src/svgs/uncategorized/Annotation.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/zephyr-stitches): create zephyr stitches package with stitches version of button
  .storybook/main.js
  package.json
  packages/zephyr-stitches/package.json
  packages/zephyr-stitches/src/Box.ts
  packages/zephyr-stitches/src/Button.styles.ts
  packages/zephyr-stitches/src/Button.tsx
  packages/zephyr-stitches/src/VisuallyHidden.ts
  packages/zephyr-stitches/src/index.ts
  packages/zephyr-stitches/src/stitches.config.ts
  packages/zephyr-stitches/stories/Button.stories.tsx
  packages/zephyr-stitches/tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

Update Tag and add Merge icon
  packages/icons/src/svgs/uncategorized/Merge.svg
  packages/icons/src/svgs/uncategorized/Tag.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

Build icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Merge.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Add error to EditableText
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

Uncomment
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

Fix props
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

Remove `isEditing` from ControlledState because it was preventing changing other props
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

Fix enter
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

Show formik error
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

Delete minLength
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/package.json
Due: none

Prevent default enter
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

Add onValueChange listener
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

Remove stroke from Tag
  packages/icons/src/svgs/uncategorized/Tag.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

Preprocess Merge
  packages/icons/src/svgs/uncategorized/Merge.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: uses the passed in name prop
  packages/zephyr/src/Forms/InputPrimitive.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
