Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: ensuring pnp is there
  .github/workflows/ci.yml
Due: none

chore: fixed yarn lint
  .github/workflows/ci.yml
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  @types/styled-components.d.ts
  package.json
  packages/icons/package.json
  packages/zephyr/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: fixing import
  packages/icons/package.json
  packages/icons/test/index.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: removed unecessary installs
  package.json
Due: none

chore: fixing yarn test
  packages/hooks/package.json
  packages/icons/package.json
  packages/icons/test/index.test.tsx
  packages/utilities/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: removed unused functions
  packages/utilities/src/Time.ts
Due: prettier --write, eslint --fix

chore: final updates
  package.json
  packages/utilities/src/Time.ts
  packages/utilities/test/Time.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: put back teput back milliseconds
  packages/utilities/src/Time.ts
  packages/utilities/test/Time.test.ts
Due: prettier --write, eslint --fix

chore: updated deps
  package.json
  packages/utilities/package.json
Due: none

chore(release): publish
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: prettier --write

fix: add lint rule to prevent extaneous imports
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore: adjust config for repo
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: remove unused import
  @types/styled-components.d.ts
Due: prettier --write, eslint --fix

chore: fix typo
  package.json
Due: none

chore: add prepush hook
  .huskyrc
Due: none

chore(storybook): add in docs build script
  package.json
Due: none

fix(storybook): remove s from storybook script
  package.json
Due: none

fix(zephyr): fix button test
  packages/zephyr/src/Button.tsx
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix

fix(zephyr): add in remaining button variants
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/theme/variants/button.ts
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

feat(zephyr): add in initial button component
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/theme/index.ts
  packages/zephyr/src/theme/variants.ts
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

fix(zephyr): add in individual theme exports
  packages/zephyr/src/theme/index.ts
  packages/zephyr/src/theme/variants.ts
  packages/zephyr/src/theme/variants/button.ts
  packages/zephyr/src/theme/variants/index.ts
Due: prettier --write, eslint --fix

fix(zephyr): remove duplicate background property ghost and outline variants
  packages/zephyr/src/theme/variants/button.ts
Due: prettier --write, eslint --fix

fix: refactor Icon fallback styles, use named export for storybook argstable
  packages/icons/src/Icons.ts
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

feat: add storybook for Icon with ArgsTable of props
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

feat: add grid view of all Icons to storybook
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

feat: add icons grid to storybook, update test
  packages/icons/src/index.tsx
  packages/icons/stories/Icons.stories.tsx
  packages/icons/test/index.test.tsx
Due: prettier --write, eslint --fix

fix: remove destructured className prop
  @types/svgs.d.ts
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

fix: declare empty type module for svgs
  packages/icons/src/BaseIcons.tsx
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

docs: update description
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

feat(icons): add At svg and add fill to Send-Filled svg
  packages/icons/svgs/At.svg
  packages/icons/svgs/Send-Filled.svg
Due: none

chore: upgrade storybook deps, add lodash deps, add tiny-invariant, and remove tinycolor2
  package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: remove empty file and unused type
  @types/custom.d.ts
  packages/icons/src/BaseIcons.tsx
Due: prettier --write, eslint --fix

chore: add __DEV__ to the global namespace for project
  @types/global.d.ts
  jest.config.js
Due: prettier --write, eslint --fix

chore: remove unused code
  .storybook/main.js
Due: prettier --write, eslint --fix

chore: add @reach styles to storybook
  .storybook/preview.js
Due: prettier --write, eslint --fix

feat(box): reorder types, add data-testid as optional prop, and export new type
  packages/zephyr/src/Box.tsx
Due: prettier --write, eslint --fix

feat(basemodal): add new component (BaseModal)
  packages/zephyr/src/Modals/BaseModal.tsx
  packages/zephyr/src/Modals/index.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/src/testIDs.ts
  packages/zephyr/stories/Modals/BaseModal.stories.tsx
Due: prettier --write, eslint --fix

fix: unify overlay styles in BaseModal and fix mistake
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
