Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.svg": [
    "svgo --pretty --config=./packages/icons/svgo.config.format.json"
  ]
}

feat(@air/zephyr): update tooltip label type to ReactNode
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

feat: update tooltip to have boolean control of arrow
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

docs: adds a story for the without arrow view
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat: for the tooltip - adds an optional tx prop to allow adding custom styles
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

feat: fix prop names
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove tx and rename props for checkbox component
  packages/zephyr/src/Forms/Checkbox.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): export checkbox component
  packages/zephyr/src/Forms/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): make checkbox active icon optional
  packages/zephyr/src/Forms/Checkbox.tsx
Due: prettier --write, eslint --fix

feat(savetobin icon): add SaveToBin icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/SaveToBin.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(savetobin): change SaveToBin svg viewbox
  packages/icons/src/svgs/uncategorized/SaveToBin.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(savetobin): move fill none into path
  packages/icons/src/svgs/uncategorized/SaveToBin.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(downloadalt): rename to download alt and get correct path
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/DownloadAlt.svg
  packages/icons/src/svgs/uncategorized/SaveToBin.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(downloadalt): update DownloadAlt to illustrator icon
  packages/icons/src/svgs/uncategorized/DownloadAlt.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: added data-testid to modal label and description
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: add test IDs to all possible modal labels and descriptions
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: added ANNOUNCEMENT_MODAL_CTA to button variant
  packages/zephyr/src/Modals/AnnouncementModal.tsx
Due: prettier --write, eslint --fix

chore: better fix instead of ts-ignore
  packages/zephyr/src/Modals/AnnouncementModal.tsx
Due: prettier --write, eslint --fix

chore: testing something
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: updated modal to have dynamic key
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: fix AnimatePresence modal key
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

refactor: removed AnimatePresence from Modal
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: fixed types
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/src/Modals/TransactionModal.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
  packages/zephyr/test/Modal.test.tsx
Due: prettier --write, eslint --fix

chore: added AnimatePresence to modal stories
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

docs: update story docs
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
  packages/zephyr/stories/modals/TransactionModal.stories.tsx
Due: prettier --write, eslint --fix

chore: removed children text wrapper
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

Revert "chore: removed children text wrapper"
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

chore: removed modal content wrapper
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix
