Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

feat(@air/icons): rename new Box icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr/singleselect): nudge dropdown indicator down by 1px
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): fix button responsive variants and type defs
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/theme/variants/button.ts
  packages/zephyr/stories/buttons/Button.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

refactor(@air/icons): rename Box to BoxLogo
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/BoxLogo.svg
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix button size type
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

chore: update storybook-related dependencies
  package.json
  packages/icons/package.json
  yarn.lock
Due: none

fix(@air/zephyr/button): resolve layout issue regarding loading state
  packages/zephyr/src/Button.tsx
  packages/zephyr/stories/buttons/Button.stories.tsx
Due: prettier --write, eslint --fix

fix(workflow): use recursive pattern for svg formatting script
  packages/icons/package.json
Due: none

fix: fix Home icon proportions
  packages/icons/src/svgs/uncategorized/Home.svg
Due: none

feat: add EllipsisVertical icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/EllipsisVertical.svg
Due: prettier --write, eslint --fix

chore(@air/zephyr): add @radix-ui/react-tooltip to @air/zephyr dependencies
  packages/zephyr/package.json
  yarn.lock
Due: none

chore(@air/zephyr/modal): adjust CSS in Storyblock override
  packages/zephyr/stories/modals/Modal.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/tooltip): create Tooltip component
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/icons): add in circled info icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Circled-Info.svg
Due: prettier --write, eslint --fix

chore(@air/icons): run build script
  packages/icons/src/IconPathData.json
  packages/icons/src/svgs/uncategorized/Circled-Info.svg
Due: none

docs(@air/zephyr/announcementmodal): demonstrate ref concern properly
  packages/zephyr/src/Modals/ModalCloseButton.tsx
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
Due: prettier --write, eslint --fix

fix: remove unused file
  packages/zephyr/src/Modals/ModalCloseButton.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/modal): apply key to each motion element
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/testIDs.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr/xbutton): create XButton component
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/XButton.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/src/testIDs.ts
  packages/zephyr/stories/XButton.stories.tsx
  packages/zephyr/test/Modal.test.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/announcementmodal): expand possible values for cta prop, fix bugs, and docs
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/modal): define components outside of render
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/announcementmodal): properly render custom cta
  packages/zephyr/src/Modals/AnnouncementModal.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/announcementmodal): change the cta prop
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/stories/modals/AnnouncementModal.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/eslint-config): allow ^are prefixes in boolean types
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

docs(@air/zephyr/tooltip): allow tooltip story to dynamically always have tooltips visible
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/tooltip): remove default param and adjust prop comment
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/tooltip): style tweaks
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in `text-variant-80` text variant
  packages/zephyr/src/theme/variants/text.ts
Due: prettier --write, eslint --fix

chore(@air/zephyr): upgrade framer motion to >3.0
  packages/zephyr/package.json
  yarn.lock
Due: none
