Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(gizmo.svg): added a new icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Gizmo.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): add missing types to input
  packages/zephyr/src/Forms/Input.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): make input onChange optional
  packages/zephyr/src/Forms/Input.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): add in missing dataset to context menu
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in new icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Boards-Add.svg
  packages/icons/src/svgs/uncategorized/Boards-All.svg
  packages/icons/src/svgs/uncategorized/Boards-Duplicate.svg
  packages/icons/src/svgs/uncategorized/Boards-Remove.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): fix missing aria-label, remove test code, and add in motion for overlay
  packages/zephyr/src/ActionSheet/ActionSheet.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetOverlay.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in actionsheet export
  packages/zephyr/src/ActionSheet/index.ts
  packages/zephyr/src/index.ts
Due: prettier --write, eslint --fix

feat(icons): replace down left right and up triangles with filled svgs
  packages/icons/src/svgs/uncategorized/Triangle-Down.svg
  packages/icons/src/svgs/uncategorized/Triangle-Left.svg
  packages/icons/src/svgs/uncategorized/Triangle-Right.svg
  packages/icons/src/svgs/uncategorized/Triangle-Up.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/zephyr): allow control over menu animations
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): decrease animation time
  packages/zephyr/src/ActionSheet/ActionSheet.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix bounce not unmounting component
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetOverlay.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in hidden overlay to dropdown menu to prevent other actions while opened
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix menu item having additional spacing when divider is present
  packages/zephyr/src/Menus/components/MenuItem.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in `hasAnimation` prop to dropdown and context menus
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove `hasAnimation` and just add in a null check
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
  packages/zephyr/src/Menus/components/Menu.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in zIndex to modals to prevent content from overlapping it
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in children top and bottom props to context menu
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/stories/menus/abstractions/ContextMenu.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix actionsheet spacing
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
Due: prettier --write, eslint --fix

feat(icons): add DesktopApp icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/DesktopApp.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): revert removal of cuckoos and add in cockatoo colors
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix cockatoo025 color
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in additional cuckoo colors
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in missing types for new colors'
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(@air/icons): fix icon fill color
  packages/icons/src/svgs/uncategorized/Boards-Add.svg
  packages/icons/src/svgs/uncategorized/Boards-Duplicate.svg
  packages/icons/src/svgs/uncategorized/Boards-Remove.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(icons): add CreditCard icon to library
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/CreditCard.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(icons): update fill with currentColor
  packages/icons/src/svgs/uncategorized/CreditCard.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): fix actionsheet types, overflow, and add onClose when selecting item
  packages/zephyr/src/ActionSheet/ActionSheet.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetItem.tsx
  packages/zephyr/stories/actionsheets/ActionSheet.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
