Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr/modal): require modal label
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

feat(fields): make multiple variants for form fields
  packages/zephyr/src/theme/variants/field.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr/input): expose "variant" prop
  packages/zephyr/src/Forms/Input.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/input): update story file for input variants
  packages/zephyr/stories/forms/Input.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/singleselect): expose "variant" prop
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/singleselect): update story file for singleselect variants
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
Due: prettier --write, eslint --fix

docs: adjust spelling and styles in stories
  packages/zephyr/stories/forms/Input.stories.tsx
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
Due: prettier --write, eslint --fix

style(@air/zephyr/singleselect): add mt to subtext in select options
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/button): add xs size
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr/iconbutton): add iconbutton component and stories
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/stories/IconButton.stories.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr/xbutton): use new iconbutton component for xbutton
  packages/zephyr/src/XButton.tsx
Due: prettier --write, eslint --fix

refactor(modals): use updated xbutton in modal
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

fix(modals): resolve accessibility bug where modal labels and descriptions werent properly connected
  packages/zephyr/src/Modals/ModalContent.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr/xbutton): remove incorrect typing and remove storybook file
  packages/zephyr/src/XButton.tsx
  packages/zephyr/stories/XButton.stories.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/iconbutton): expand on comment
  packages/zephyr/src/IconButton.tsx
Due: prettier --write, eslint --fix

docs: sort stories alphabetically
  .storybook/preview.js
Due: prettier --write, eslint --fix

refactor(@air/zephyr/iconbutton): require "hasTooltip" prop
  packages/zephyr/src/IconButton.tsx
Due: prettier --write, eslint --fix

docs(buttons): reorganize button-related stories
  packages/zephyr/stories/buttons/Button.stories.tsx
  packages/zephyr/stories/buttons/FilledButton.stories.tsx
  packages/zephyr/stories/buttons/GhostButton.stories.tsx
  packages/zephyr/stories/buttons/IconButton.stories.tsx
  packages/zephyr/stories/buttons/OutlineButton.stories.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr/modalcontent): resolve codeclimate issue
  packages/zephyr/src/Modals/ModalContent.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/xbutton): fix type error
  packages/zephyr/src/XButton.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr/button): rename size value "xs" to "extra-small"
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/stories/buttons/IconButton.stories.tsx
Due: prettier --write, eslint --fix

chore: add shared types file to DRY stuff
  packages/zephyr/src/sharedTypes.ts
Due: prettier --write, eslint --fix

style(@air/icons): adjust plus, check, and close icons
  packages/icons/src/svgs/uncategorized/Check.svg
  packages/icons/src/svgs/uncategorized/Close.svg
  packages/icons/src/svgs/uncategorized/Plus.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/icons): add color=currentColor on paths of updated icons
  packages/icons/src/svgs/uncategorized/Check.svg
  packages/icons/src/svgs/uncategorized/Close.svg
  packages/icons/src/svgs/uncategorized/Plus.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(@air/zephyr): adjust file name
  packages/zephyr/src/shared.ts
  packages/zephyr/src/sharedTypes.ts
Due: prettier --write, eslint --fix

fix(@air/icons): 🤦‍♂️ typo
  packages/icons/src/svgs/uncategorized/Check.svg
  packages/icons/src/svgs/uncategorized/Close.svg
  packages/icons/src/svgs/uncategorized/Plus.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/icons): add new "To-Go" icon
  packages/icons/src/svgs/uncategorized/To-Go.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/icons): add new "FilledPlay" icon
  packages/icons/src/svgs/uncategorized/FilledPlay.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

style(@air/icons): adjust pause and play icons
  packages/icons/src/svgs/uncategorized/Pause.svg
  packages/icons/src/svgs/uncategorized/Play.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(@air/icons): update path mapping and module mapping
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

fix: export shared items
  packages/zephyr/src/index.ts
Due: prettier --write, eslint --fix

docs(@air/zephyr/iconbutton): use shared items
  packages/zephyr/stories/buttons/IconButton.stories.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr/input): use shared items
  packages/zephyr/src/Forms/Input.tsx
Due: prettier --write, eslint --fix

style(@air/zephyr/xbutton): update appearance
  packages/zephyr/src/XButton.tsx
Due: prettier --write, eslint --fix

ci: dont run ci on main
  .github/workflows/ci.yml
Due: none

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

ci: dont run ci on publish
  .github/workflows/ci.yml
Due: none

ci: run on all branches
  .github/workflows/ci.yml
Due: none

refactor(@air/zephyr/iconbutton): move type to shared types
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/shared.ts
Due: prettier --write, eslint --fix

feat(buttons): allow for left or right icon adornments
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/stories/buttons/Button.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
