Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.svg": [
    "svgo --pretty --config=./packages/icons/svgo.config.format.json"
  ]
}

feat(@air/icons): add A icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/A.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

Expose validationSchema prop in EditableText
  packages/zephyr/src/EditableText/index.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

Update schema computation
  packages/zephyr/src/EditableText/index.tsx
Due: prettier --write, eslint --fix

Default to validation schema over requried
  packages/zephyr/src/EditableText/index.tsx
Due: prettier --write, eslint --fix

Fix Schema error
  packages/zephyr/src/EditableText/index.tsx
Due: prettier --write, eslint --fix

remove unused packages and make deps exact
  packages/browserslist-config/CHANGELOG.md
  packages/browserslist-config/README.md
  packages/browserslist-config/index.js
  packages/browserslist-config/package.json
  packages/colors/CHANGELOG.md
  packages/colors/README.md
  packages/colors/package.json
  packages/colors/src/colors.css
  packages/colors/src/colors.ts
  packages/colors/src/index.ts
  packages/colors/src/tailwindColors.ts
  packages/colors/tsconfig.build.json
  packages/hooks/CHANGELOG.md
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useToggleBoolean.ts
  packages/hooks/test/useToggleBoolean.test.ts
  packages/hooks/tsconfig.build.json
  packages/utilities/CHANGELOG.md
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/src/Bytes.ts
  packages/utilities/src/Initials.ts
  packages/utilities/src/InstagramUrlValidator.ts
  packages/utilities/src/Mimes.ts
  packages/utilities/src/Time.ts
  packages/utilities/src/Url.ts
  packages/utilities/src/index.ts
  packages/utilities/test/Bytes.test.ts
  packages/utilities/test/Initials.test.ts
  packages/utilities/test/InstagramUrlValidator.test.ts
  packages/utilities/test/Mimes.test.ts
  packages/utilities/test/Time.test.ts
  packages/utilities/test/Url.test.ts
  packages/utilities/tsconfig.build.json
  packages/zephyr/package.json
  packages/zephyr/src/Tooltip.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix side
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix deps
  packages/zephyr/package.json
  yarn.lock
Due: none

update deps
  .nvmrc
  .yarnrc
  packages/icons/package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

feat(air-zephyr): remove deprecated components
  packages/zephyr/package.json
  packages/zephyr/src/ActionSheet/ActionSheet.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetContainer.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetDescription.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetDivider.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetItem.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetLabel.tsx
  packages/zephyr/src/ActionSheet/components/ActionSheetOverlay.tsx
  packages/zephyr/src/ActionSheet/index.ts
  packages/zephyr/src/EditableText/EditableTextTextarea.tsx
  packages/zephyr/src/EditableText/index.tsx
  packages/zephyr/src/EditableText/types.ts
  packages/zephyr/src/Forms/Toggle/FormikToggle.tsx
  packages/zephyr/src/Forms/Toggle/Toggle.tsx
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
  packages/zephyr/src/Menus/components/Menu.tsx
  packages/zephyr/src/Menus/components/MenuDivider.tsx
  packages/zephyr/src/Menus/components/MenuItem.tsx
  packages/zephyr/src/Menus/components/MenuItemDescription.tsx
  packages/zephyr/src/Menus/components/MenuItemLabel.tsx
  packages/zephyr/src/Menus/index.tsx
  packages/zephyr/src/Menus/utils/getPosition.ts
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
  packages/zephyr/src/RadixMenu/components/RadixMenuItemDivider.tsx
  packages/zephyr/src/RadixMenu/index.tsx
  packages/zephyr/stories/menus/abstractions/ContextMenu.stories.tsx
  packages/zephyr/stories/menus/abstractions/DropdownMenu.stories.tsx
  packages/zephyr/stories/menus/abstractions/RadixDropdownMenu.stories.tsx
  packages/zephyr/stories/menus/components/Menu.stories.tsx
  packages/zephyr/stories/menus/components/MenuDivider.stories.tsx
  packages/zephyr/stories/menus/components/MenuItem.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix exports
  packages/zephyr/package.json
  packages/zephyr/src/Forms/index.ts
  packages/zephyr/src/index.ts
Due: prettier --write, eslint --fix

feat: memberRemove icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/MemberRemove.tsx
  packages/icons/stories/iconList.ts
  packages/zephyr/src/XButton.tsx
Due: prettier --write, eslint --fix

fix: remove tests
  packages/zephyr/test/Button.test.tsx
  packages/zephyr/test/Modal.test.tsx
Due: prettier --write, eslint --fix

fix: remove tests
  packages/zephyr/test/Modal.test.tsx
Due: prettier --write, eslint --fix

fix: fix
  packages/icons/src/svgComponents/MemberRemove.tsx
Due: prettier --write, eslint --fix
