Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(icons): replace new video logo, fix alphabetical order
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

fix(icons): fix alphabetical order again
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write

fix: update dependencies
  package.json
  packages/eslint-config/package.json
  packages/utilities/package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: remove ts-ignore comment
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

fix: add JSX as a global to our lint config
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

docs: format after updating prettier
  packages/browserslist-config/CHANGELOG.md
  packages/utilities/CHANGELOG.md
Due: prettier --write

docs: adjust comment to avoid out-of-dateness
  jest.config.js
Due: prettier --write, eslint --fix

chore: use types instead of ts-ignore
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

chore: ensure stories are checked for type safety
  .storybook/main.js
Due: prettier --write, eslint --fix

chore: fix issue in lockfile
  yarn.lock
Due: none

chore: dont typecheck stories 😭
  .storybook/main.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

replacing moment
  packages/utilities/package.json
  packages/utilities/src/Time.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: setup yarn berry
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: more work on getting berry setup
  .gitignore
  .yarn/releases/yarn-berry.cjs
Due: none

chore: fixed deps
  package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: yarn install
  .github/workflows/ci.yml
Due: none

chore: another update
  .github/workflows/ci.yml
Due: none

chore: moved yarn install to bootstrap command
  package.json
Due: none

chore: put in deps asked by yarn build:packages
  package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: trying something odd
  .github/workflows/ci.yml
Due: none

chore: removed top level packge.json core-js dep
  package.json
  packages/icons/package.json
  yarn.lock
Due: none

chore: debug
  .github/workflows/ci.yml
Due: none

chore: command fix
  .github/workflows/ci.yml
Due: none

chore: more debug
  .github/workflows/ci.yml
Due: none

chore: command update
  .github/workflows/ci.yml
Due: none

chore: more attempts
  .github/workflows/ci.yml
Due: none

chore: spitting out version
  .github/workflows/ci.yml
Due: none

chore: update
  .github/workflows/ci.yml
Due: none

chore: aother idea
  .yarnrc.yml
Due: none

chore: fix
  .yarnrc.yml
Due: none

chore: fix
  .github/workflows/ci.yml
Due: none

chore: node -v
  .github/workflows/ci.yml
Due: none

chore: idea
  .gitignore
  .pnp.js
Due: prettier --write, eslint --fix

chore: another idea
  .github/workflows/ci.yml
  .gitignore
Due: none

chore: thang od
  .github/workflows/ci.yml
Due: none

chore: added sdk support
  .eslintignore
  .gitignore
  .pnp.js
  .prettierignore
  .yarn/sdks/integrations.yml
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: prettier --write, eslint --fix
