Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

docs(@air/zephyr/tooltip): add another story
  packages/zephyr/stories/Tooltip.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr/tooltip): actually export Tooltip
  packages/zephyr/src/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add testids to both descs and errors for inputs and single selects, plus a11y fix
  packages/zephyr/src/Forms/Input.tsx
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

revert: remove span from error
  packages/zephyr/src/Forms/Input.tsx
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr/modal): no set z-index on modal overlay
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: fix dropbox icon - it was 24px instead of 32
  packages/icons/src/svgs/uncategorized/Dropbox.svg
Due: none

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

style: add three paths to google drive icon
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: none

fix: add class to GoogleDrive paths to avoid merging them
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: none

chore: 🤖 update dependencies
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .huskyrc
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/icons/package.json
  packages/utilities/package.json
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: resolve lint errors
  packages/icons/scripts/add-icon.js
  packages/icons/scripts/grabListOfIconPathData.js
Due: prettier --write, eslint --fix

chore: 🚧 customize changelog cli config
  changelog.config.js
  package.json
Due: prettier --write, eslint --fix

chore: 🚧 format svg source files on precommit
  .lintstagedrc
Due: none

chore: 🚧 clean up svg src files
  packages/icons/src/svgs/uncategorized/Circled-Info.svg
  packages/icons/src/svgs/uncategorized/Dropbox.svg
Due: none

fix: 🐛 dont prefix classes
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
  packages/icons/svgo.config.format.json
Due: none

fix: 🐛 mark react-select props as optional
  packages/zephyr/src/Forms/SingleSelect.tsx
Due: prettier --write, eslint --fix

feat: ✨ expose all button props on cta props for TransactionModal
  packages/zephyr/src/Modals/TransactionModal.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

Add new Devices icon
  packages/icons/src/svgs/uncategorized/Devices.svg
Due: none

fix: 🐛 reduce tooltip render delay from 300ms to 200ms
  package.json
  patches/@radix-ui+react-tooltip+0.0.2.patch
  yarn.lock
Due: none

style: 💄 change modal animation
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: 💄 speed up modal animation
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: 💄 use GPU accelerated properties only
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: 💄 🐌 slow it down by 100ms
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: 💄 add delay for modal content animation
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

style: 💄 finalize animation timings
  packages/zephyr/src/Modals/ModalContent.tsx
Due: prettier --write, eslint --fix

chore: revert husky-related changes
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .huskyrc
  changelog.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(@air/zephyr/modal): sort properties and dont spread properties
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

fix(modals): resolve issue where modals would rerender when content was dynamic
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr/modal): add story to prove fix
  packages/zephyr/stories/modals/Modal.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
