Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write

fix(@air/icons): fix notion icon path
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

feat(zephyr): add in theme constants and box component
  .storybook/preview.js
  @types/styled-components.d.ts
  packages/zephyr/package.json
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/src/theme/colors.ts
  packages/zephyr/src/theme/fontSizes.ts
  packages/zephyr/src/theme/fontWeights.ts
  packages/zephyr/src/theme/fonts.ts
  packages/zephyr/src/theme/index.ts
  packages/zephyr/src/theme/radii.ts
  packages/zephyr/src/theme/space.ts
  packages/zephyr/stories/Button.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(storybook): fix theme import path
  .storybook/preview.js
Due: prettier --write, eslint --fix

feat(zephyr): add ts-ignore to css prop
  packages/zephyr/src/Box.tsx
Due: prettier --write, eslint --fix

feat(zephyr): remove ref from button props in stories
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

feat(zephyr): add onClick and default type to button component
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

feat(zephyr): add in polished support
  packages/zephyr/babel.config.js
  packages/zephyr/package.json
  packages/zephyr/src/theme/fontSizes.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(zephyr): add in hygen template
  _templates/zephyr/component/component.ejs.t
  _templates/zephyr/component/prompt.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update _templates/zephyr/component/component.ejs.t
  _templates/zephyr/component/component.ejs.t
Due: none

feat(zepyhr): update hygen themeKey prompt message
  _templates/zephyr/component/prompt.js
Due: prettier --write, eslint --fix

Update packages/zephyr/src/Button.tsx
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

fix(zephyr): remove __baseStyle from button types
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

fix(zephyr): remove styled components react types
  @types/styled-components.d.ts
Due: prettier --write, eslint --fix

chore(zephyr): move polished to dev dependencies
  packages/zephyr/package.json
Due: none

docs(zephyr): update hygen prompt with as prop and remove theme key temporarily
  _templates/zephyr/component/component.ejs.t
  _templates/zephyr/component/prompt.js
Due: prettier --write, eslint --fix

fix(zephyr): omit ref from box component instead of each story
  packages/zephyr/src/Box.tsx
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: remove `yarn commit`
  package.json
Due: none

chore: fix broken links
  package.json
Due: none

chore: ensure cz-cli ignores merge commits
  .huskyrc
  bin/prepare-commit-message.sh
Due: none

chore: edit readme
  README.md
Due: prettier --write

chore: try alternative strategy
  bin/prepare-commit-message.sh
Due: none

revert: undo faulty prepare commit msg changes
  .huskyrc
  bin/prepare-commit-message.sh
Due: none

feat(zephyr): example of component creation for new engineer
  packages/zephyr/src/Heading.tsx
  packages/zephyr/src/Modal.tsx
  packages/zephyr/src/theme/index.ts
  packages/zephyr/stories/Heading.stories.tsx
  packages/zephyr/stories/Modal.stories.tsx
Due: prettier --write, eslint --fix

feat(air/zephyr): add new files colors
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(packages/zephyr): fix new file colors, named after birds
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(packages/zephyr): use docblocks for comments
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(zephyr): set new color types
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

chore(zephyr): alphabetize colorName string types and color keys
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(zephyr): remove duplicated robin type strings
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

Update packages/zephyr/src/theme/colors.ts
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

fix(zephyr): replace singles with miscellaneous, remove transparentSafariHack, swap transparent rgba
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

feat(icons): add new file icons, prep video icon replacement
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
