Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.svg": [
    "svgo --pretty --config=./packages/icons/svgo.config.format.json"
  ]
}

feat: add slack icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Slack.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

Expose onShown and onHidden for ContextMenu
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
Due: prettier --write, eslint --fix

Update release.yml
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): update tooltip to use minHeight instead of fixed height
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

feat(@air/colors): add in colors stylesheet
  packages/colors/src/colors.css
Due: none

chore(release): publish
  packages/colors/CHANGELOG.md
  packages/colors/package.json
  packages/zephyr-stitches/CHANGELOG.md
  packages/zephyr-stitches/package.json
Due: prettier --write

feat(@air/utils): add in option to hide unit
  packages/utilities/src/Bytes.ts
Due: prettier --write, eslint --fix

feat(@air/colors): add in basic colors
  packages/colors/src/colors.css
Due: none

feat(added youtube icon): added youtube icon to our icons list
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/YouTube.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

feat(@air/colors): add in tailwind color config
  packages/colors/src/index.ts
  packages/colors/src/tailwindColors.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr): utilize radix over reach for visually-hidden
  package.json
  packages/eslint-config/index.js
  packages/zephyr/package.json
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/Forms/Checkbox.tsx
  packages/zephyr/src/Forms/Input.tsx
  packages/zephyr/src/Forms/Label.tsx
  packages/zephyr/src/Forms/Toggle/Toggle.tsx
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/VisuallyHidden.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/stories/forms/Input.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix typo w/ visually hidden
  packages/zephyr/src/Forms/Checkbox.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr-stitches): remove package
  packages/zephyr-stitches/CHANGELOG.md
  packages/zephyr-stitches/package.json
  packages/zephyr-stitches/src/Box.ts
  packages/zephyr-stitches/src/Button.styles.ts
  packages/zephyr-stitches/src/Button.tsx
  packages/zephyr-stitches/src/IconButton.styles.ts
  packages/zephyr-stitches/src/IconButton.tsx
  packages/zephyr-stitches/src/Pill.styles.ts
  packages/zephyr-stitches/src/Pill.tsx
  packages/zephyr-stitches/src/Tag.styles.ts
  packages/zephyr-stitches/src/Tag.tsx
  packages/zephyr-stitches/src/Text.ts
  packages/zephyr-stitches/src/Tooltip.styles.ts
  packages/zephyr-stitches/src/Tooltip.tsx
  packages/zephyr-stitches/src/VisuallyHidden.ts
  packages/zephyr-stitches/src/index.ts
  packages/zephyr-stitches/src/stitches.config.ts
  packages/zephyr-stitches/stories/Button.stories.tsx
  packages/zephyr-stitches/stories/IconButton.stories.tsx
  packages/zephyr-stitches/stories/Pill.stories.tsx
  packages/zephyr-stitches/stories/Tag.stories.tsx
  packages/zephyr-stitches/stories/Tooltip.stories.tsx
  packages/zephyr-stitches/tsconfig.build.json
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix visually hidden import
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): upgrade radix tooltip
  packages/zephyr/package.json
  packages/zephyr/src/Tooltip.tsx
  yarn.lock
Due: prettier --write, eslint --fix

refactor(root): add in turbo repo
  .gitignore
  .storybook/.babelrc
  lerna.json
  package.json
  packages/air-tsconfig/base.json
  packages/air-tsconfig/package.json
  packages/air-tsconfig/react-library.json
  packages/colors/package.json
  packages/colors/tsconfig.build.json
  packages/colors/tsconfig.json
  packages/eslint-config/index.js
  packages/hooks/package.json
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  packages/icons/package.json
  packages/icons/scripts/tsxFromTemplate.js
  packages/icons/tsconfig.build.json
  packages/icons/tsconfig.json
  packages/utilities/package.json
  packages/utilities/tsconfig.build.json
  packages/utilities/tsconfig.json
  packages/zephyr/package.json
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
  packages/zephyr/tsconfig.build.json
  packages/zephyr/tsconfig.json
  tsconfig.eslint.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(@air/zephyr-stitches): remove this package
  packages/zephyr-stitches/CHANGELOG.md
  packages/zephyr-stitches/package.json
  packages/zephyr-stitches/src/Box.ts
  packages/zephyr-stitches/src/Button.styles.ts
  packages/zephyr-stitches/src/Button.tsx
  packages/zephyr-stitches/src/IconButton.styles.ts
  packages/zephyr-stitches/src/IconButton.tsx
  packages/zephyr-stitches/src/Pill.styles.ts
  packages/zephyr-stitches/src/Pill.tsx
  packages/zephyr-stitches/src/Tag.styles.ts
  packages/zephyr-stitches/src/Tag.tsx
  packages/zephyr-stitches/src/Text.ts
  packages/zephyr-stitches/src/Tooltip.styles.ts
  packages/zephyr-stitches/src/Tooltip.tsx
  packages/zephyr-stitches/src/VisuallyHidden.ts
  packages/zephyr-stitches/src/index.ts
  packages/zephyr-stitches/src/stitches.config.ts
  packages/zephyr-stitches/stories/Button.stories.tsx
  packages/zephyr-stitches/stories/IconButton.stories.tsx
  packages/zephyr-stitches/stories/Pill.stories.tsx
  packages/zephyr-stitches/stories/Tag.stories.tsx
  packages/zephyr-stitches/stories/Tooltip.stories.tsx
  packages/zephyr-stitches/tsconfig.build.json
Due: prettier --write, eslint --fix

refactor(@air/zephyr): upgrade radix packages
  .storybook/preview.js
  packages/zephyr/package.json
  packages/zephyr/src/ActionSheet/components/ActionSheetHeader.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/Forms/Checkbox.tsx
  packages/zephyr/src/Forms/Input.tsx
  packages/zephyr/src/Forms/Label.tsx
  packages/zephyr/src/Forms/Toggle/Toggle.tsx
  packages/zephyr/src/IconButton.tsx
  packages/zephyr/src/Modals/AnnouncementModal.tsx
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
  packages/zephyr/src/Tooltip.tsx
  packages/zephyr/src/VisuallyHidden.tsx
  packages/zephyr/stories/forms/Input.stories.tsx
  packages/zephyr/stories/menus/abstractions/RadixDropdownMenu.stories.tsx
  packages/zephyr/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(@air/icons): add copy icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Copy.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

feat(@air/icons): add Finder icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Finder.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

feat(@air/icons): add Dollar icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Dollar.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

feat(@air/icons): add Dollar icon
  packages/icons/dollar.svg
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Dollar.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: reorder iconList
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

fix: ran svgo
  packages/icons/src/svgComponents/Dollar.tsx
Due: prettier --write, eslint --fix

refactor: auphabetical order
  packages/icons/src/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in missing portal
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in portal to sub menus
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove AnimatePresence from dropdown
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
Due: prettier --write, eslint --fix
