Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore: remove unused type declaration
  @types/svgs.d.ts
Due: prettier --write, eslint --fix

fix: include global type defs for @air/zephyr
  packages/zephyr/tsconfig.build.json
Due: none

chore: remove unnecessary ts-ignore
  packages/zephyr/src/Box.tsx
Due: prettier --write, eslint --fix

fix: simplify theme typings
  packages/zephyr/src/theme/index.ts
Due: prettier --write, eslint --fix

feat(basemodal): rename and change behavior of overlay override prop
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix

fix: revert react-native-svg update
  packages/icons/package.json
  yarn.lock
Due: none

chore(add-icon): include comment that `index` is auto generated, change icon components to one line named exports
  packages/icons/scripts/add-icon.js
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): change color system to be in the hundreds
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

refactor(@air/zephyr): update variant names and add in documentation
  .storybook/main.js
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/theme/variants/button.ts
  packages/zephyr/stories/Button.stories.tsx
  packages/zephyr/stories/buttons/Button.stories.tsx
  packages/zephyr/stories/buttons/FilledButton.stories.tsx
  packages/zephyr/stories/buttons/GhostButton.stories.tsx
  packages/zephyr/stories/buttons/OutlineButton.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove unused parameters in button stories
  packages/zephyr/stories/buttons/Button.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix button variant name
  packages/zephyr/src/theme/variants/button.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix button import in test
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in theme exports
  packages/zephyr/src/theme/index.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in text component
  packages/zephyr/src/Text.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/src/theme/index.ts
  packages/zephyr/src/theme/variants/index.ts
  packages/zephyr/src/theme/variants/text.ts
  packages/zephyr/stories/Text.stories.tsx
Due: prettier --write, eslint --fix

fix: adjust lint config for storybook
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore: use yarnclean to remove unnecessary and problematic dependencies
  .yarnclean
Due: none

chore: clean up stories
  packages/zephyr/stories/Button.stories.tsx
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix

fix: final change to TX prop
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/theme/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): update button colors to match our new system
  packages/zephyr/src/theme/variants/button.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in disabled state for destructive filled
  packages/zephyr/src/theme/variants/button.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove unnecessary unit test
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): readd onClick as required for button component
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr): update text stories
  packages/zephyr/stories/Text.stories.tsx
Due: prettier --write, eslint --fix

ci(@air/zephyr): add in code climate ignore
  .codeclimate.yml
Due: none

fix(@air/zephyr): flatten button variant theme
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/theme/variants/button.ts
  packages/zephyr/src/theme/variants/index.ts
  packages/zephyr/stories/buttons/Button.stories.tsx
  packages/zephyr/stories/buttons/FilledButton.stories.tsx
  packages/zephyr/stories/buttons/GhostButton.stories.tsx
  packages/zephyr/stories/buttons/OutlineButton.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): move rest of props to bottom
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr): add in type defs to template bind
  packages/zephyr/stories/buttons/Button.stories.tsx
  packages/zephyr/stories/buttons/FilledButton.stories.tsx
  packages/zephyr/stories/buttons/GhostButton.stories.tsx
  packages/zephyr/stories/buttons/OutlineButton.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): update to useTheme hook and use theme value for focus state
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

test(@air/zephyr): add in custom test renderer with ThemeProvider
  .eslintrc.js
  packages/zephyr/test-utils.tsx
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix

chore(@air/zephyr): remove codeclimate config
  .codeclimate.yml
Due: none

fix(@air/zephyr): flatten text variants
  packages/zephyr/src/Text.tsx
  packages/zephyr/src/theme/variants/index.ts
  packages/zephyr/src/theme/variants/text.ts
  packages/zephyr/stories/Text.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: fix start command for @air/zephyr
  packages/zephyr/package.json
Due: none

refactor: rename BaseModal --> Modal
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/Modals/index.tsx
  packages/zephyr/stories/modals/Modal.stories.tsx
Due: prettier --write, eslint --fix

feat: move peerDeps to deps and install @reach/visually-hidden + @air/icons
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: update lockfile
  yarn.lock
Due: none

fix: include .svg import type definitions
  packages/icons/tsconfig.build.json
Due: none

fix: fix bundle targets and build script
  packages/icons/package.json
Due: none

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write
