Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix",
    "stylelint"
  ],
  "*.md": [
    "prettier --write"
  ]
}

Update README.md
  README.md
Due: prettier --write

chore: fix formatting in tsconfig and prevent future auto-formatting
  .prettierignore
  tsconfig.json
Due: none

chore: integrate commitizen
  .huskyrc
  package.json
  yarn.lock
Due: none

chore: adjust .gitignore
  .gitignore
Due: none

feat(@air/eslint-config): define eslint config
  .eslintrc.js
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

feat(@air/browserslist-config): define browserslist config
  packages/browserslist-config/README.md
  packages/browserslist-config/index.js
  packages/browserslist-config/package.json
Due: prettier --write, eslint --fix, stylelint

refactor: remove unnecessary rule
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix, stylelint

chore: remove package-specific dependencies from root
  package.json
Due: none

docs(readme.md): expand on top-level readme
  README.md
  banner.png
Due: prettier --write

chore: improve .gitignore
  .gitignore
Due: none

chore: temporarily remove stylelint deps
  .lintstagedrc
  .stylelintrc
Due: none

feat(@air/zephyr): define component library package
  packages/zephyr/README.md
  packages/zephyr/package.json
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/index.ts
  packages/zephyr/stories/Button.stories.tsx
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix, stylelint

chore: add github workflow
  .github/workflows/main.yml
Due: none

chore: add separate lint config for eslint consumption
  packages/eslint-config/index.js
  tsconfig.lint.json
Due: prettier --write, eslint --fix, stylelint

chore: add jest config
  jest.config.js
  jest.setup.ts
Due: prettier --write, eslint --fix, stylelint

chore: clean up tsconfig and add custom typing system
  @types/custom.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint

chore: attempt to hoist dependencies
  lerna.json
  package.json
  yarn.lock
Due: none

chore: force correct versions with resolutions 😠"
  package.json
  yarn.lock
Due: none

chore: attempt to fix linting issue
  .eslintrc.js
  .prettierignore
  package.json
  packages/eslint-config/index.js
  packages/zephyr/stories/Button.stories.tsx
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.lint.json
Due: prettier --write, eslint --fix, stylelint

chore: make small config changes
  .eslintrc.js
  packages/eslint-config/index.js
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint

chore(tsconfig.json): remove unnecessary include array
  tsconfig.json
Due: none

chore(@air/eslint-config): allow import/no-unresolved to work in TS code
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

chore: add eslint config schema
  .eslintrc.js
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix, stylelint

chore: lint mdx files
  .lintstagedrc
  @types/files.d.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --write, eslint --fix, stylelint

chore: initialize storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  packages/zephyr/stories/Button.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

chore: fix typos
  packages/zephyr/test/Button.test.tsx
Due: prettier --write, eslint --fix, stylelint

chore: prevent formatting + linting on .yarn
  .eslintignore
  .prettierignore
Due: none

chore: fix tests
  packages/zephyr/src/Button.tsx
  packages/zephyr/stories/Button.stories.tsx
  packages/zephyr/test/Button.test.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint

chore: ignore storybook build folder
  .gitignore
Due: none

chore: ensure publishes are public
  packages/browserslist-config/package.json
  packages/eslint-config/package.json
  packages/zephyr/package.json
Due: none

ci: run chromatic as part of github action
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: none

refactor: tweak story for chromatic change detection test
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix, stylelint

fix: add github token
  .github/workflows/main.yml
Due: none

fix: adjust script name
  .github/workflows/main.yml
Due: none

chore: fix typo
  packages/zephyr/package.json
Due: none

chore: add a new lint rule
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix, stylelint
