Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/zephyr): add in maxLength, behavior and child style keys to editable text
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix typing for editable text
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): temporary fix for tx error
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat(@air/zephyr): add in pill component and abstractions
  packages/zephyr/src/Pills/abstractions/Badge.tsx
  packages/zephyr/src/Pills/abstractions/SmartTag.tsx
  packages/zephyr/src/Pills/abstractions/UserGeneratedTag.tsx
  packages/zephyr/src/Pills/components/Pill.tsx
  packages/zephyr/stories/pills/abstraction/Badge.stories.tsx
  packages/zephyr/stories/pills/abstraction/SmartTag.stories.tsx
  packages/zephyr/stories/pills/abstraction/UserGeneratedTag.stories.tsx
  packages/zephyr/stories/pills/components/Pill.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in token component
  packages/zephyr/src/Tokens/Token.tsx
  packages/zephyr/stories/tokens/Token.stories.tsx
Due: prettier --write, eslint --fix

fix: react imports are no longer necessary in React 17, so we shouldnt be linting for them
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix token styling
  packages/zephyr/src/Tokens/Token.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in format callback to editable text component
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix editable text types
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix editable text onEditStateChange type to be optional
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): updated typing for editable text and expose validationSchema and minLength prop
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): update `text-ui-14` line-height to be 20 instead of 21
  packages/zephyr/src/theme/variants/text.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in save on blur, and mutliline support
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

feat(icons): replace Comment and Stack icons with outlined svgs
  packages/icons/src/svgs/uncategorized/Comment.svg
  packages/icons/src/svgs/uncategorized/Stack.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(icons): fix some typo in Stack svg path
  packages/icons/src/svgs/uncategorized/Stack.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(icons): add currentColor to stack svg
  packages/icons/src/svgs/uncategorized/Stack.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

chore: export menu item label and description for reuse
  packages/zephyr/src/Menus/components/MenuItem.tsx
  packages/zephyr/src/Menus/components/MenuItemDescription.tsx
  packages/zephyr/src/Menus/components/MenuItemLabel.tsx
  packages/zephyr/src/Menus/index.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in toggle component
  packages/zephyr/src/Forms/Toggle.tsx
  packages/zephyr/stories/forms/Toggle.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): export toggle component
  packages/zephyr/src/Forms/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): expose onClick in menu items
  packages/zephyr/src/Menus/components/MenuItem.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix ts error in context menu
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): split up toggle component
  packages/zephyr/src/Forms/Toggle/FormikToggle.tsx
  packages/zephyr/src/Forms/Toggle/Toggle.tsx
  packages/zephyr/src/Forms/index.ts
  packages/zephyr/stories/forms/Toggle/FormikToggle.stories.tsx
  packages/zephyr/stories/forms/Toggle/Toggle.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/icons): add in apple, cart, megaphone, nonprofit, popcorn, soccer icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Apple.svg
  packages/icons/src/svgs/uncategorized/Cart.svg
  packages/icons/src/svgs/uncategorized/Megaphone.svg
  packages/icons/src/svgs/uncategorized/Nonprofit.svg
  packages/icons/src/svgs/uncategorized/Popcorn.svg
  packages/icons/src/svgs/uncategorized/Soccer.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/zephyr): add in checkbox component
  packages/zephyr/src/Forms/Checkbox.tsx
  packages/zephyr/stories/forms/Checkbox.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): update editable text box-shadow to be `inset`
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

chore: update ts and storybook deps
  package.json
  yarn.lock
Due: none

feat(@air/zephyr): update existing 32 text style and add in 36/40/48 sizes
  packages/zephyr/src/theme/variants/text.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix icon button to always be a fixed width
  packages/zephyr/src/IconButton.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
