Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add typing for .svg files
  @types/files.d.ts
Due: prettier --write, eslint --fix

chore: typo fix in ignore files
  .eslintignore
  .gitignore
  .prettierignore
  tsconfig.eslint.json
Due: none

docs(@air/eslint-config/readme): adjust installation instructions
  packages/eslint-config/README.md
Due: prettier --write

feat(@air/icons): add package
  package.json
  packages/hooks/tsconfig.build.json
  packages/icons/README.md
  packages/icons/package.json
  packages/icons/scripts/native.js
  packages/icons/src/Icons.ts
  packages/icons/src/index.tsx
  packages/icons/test/__snapshots__/index.test.tsx.snap
  packages/icons/test/index.test.tsx
  packages/icons/tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(@air/icons): fix export
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

revert: remove unnecessary include in tsconfig
  packages/hooks/tsconfig.build.json
Due: none

chore: properly mark peerDep
  packages/icons/package.json
Due: none

refactor(@air/icons): remove @air/zephyr dependency
  packages/icons/package.json
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write

ci: attempt to release canary versions of packages on bump to master
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lerna.json
Due: none

ci: fix regression
  .github/workflows/ci.yml
Due: none

ci: fix typo
  .github/workflows/release.yml
Due: none

fix: update dependencies
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: none

ci: add .npmrc for CI publishes
  .npmrc
Due: none

ci: change method of acquiring NPM token in CI
  .github/workflows/release.yml
  .npmrc
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
Due: prettier --write

ci: adjust CI with script renames
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

fix: remove override post-dependency upgrade
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

ci: remove unnecessary step
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

chore: adjust typing for lint error
  packages/zephyr/src/Button.tsx
Due: prettier --write, eslint --fix

ci: fix problem in master CI for releases
  .github/workflows/release.yml
Due: none

fix: change Toggle list icon
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

fix: fix lint
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

ci: avoid bootstrap during CI publish
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: none

style(@air/eslint-config): adjust config
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore: fix lockfile
  yarn.lock
Due: none

chore: explicitly list `babel-jest` in root devDeps
  package.json
Due: none

revert(@air/eslint-config): deactivate "unicorn/prefer-query-selector" rule
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

fix(@air/icons): move `svgs` from devDeps to deps
  packages/icons/package.json
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write

fix: update dependencies
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  yarn.lock
Due: prettier --write

feat(@air/icons): add in notion icon
  packages/icons/src/Icons.ts
Due: prettier --write, eslint --fix

revert(@air/icons): downgrade version on packag from faulty release
  packages/icons/package.json
Due: none

chore: revert stuff
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
