Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore: rename svg file
  packages/icons/src/svgs/uncategorized/ThreeD.svg
Due: none

fix: fix typo in audio.svg
  packages/icons/src/svgs/uncategorized/Audio.svg
Due: none

chore: add dependencies and script to @air/icons
  packages/icons/package.json
  yarn.lock
Due: none

chore(@air/icons): add config files for svgo and tsdx
  packages/icons/svgo.config.bundle.json
  packages/icons/svgo.config.format.json
  packages/icons/tsdx.config.js
Due: prettier --write, eslint --fix

chore: ignore a script build artifact
  .gitignore
Due: none

chore(@air/icons): remove tests temporarily
  packages/icons/test/__snapshots__/index.test.tsx.snap
  packages/icons/test/index.test.tsx
Due: prettier --write, eslint --fix

chore: adjust typing for .svg files
  @types/files.d.ts
Due: prettier --write, eslint --fix

build(@air/icons): add scripts to speed up steps to add icons
  packages/icons/scripts/add-icon.js
  packages/icons/scripts/grabListOfIconPathData.js
Due: prettier --write, eslint --fix

feat(@air/icons): new icon components and storybook file
  packages/icons/src/Icons.ts
  packages/icons/src/index.tsx
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

docs(icons): update readme
  packages/icons/README.md
Due: prettier --write

feat(icons): add grid view and list view stories for all icons in storybook
  packages/icons/stories/Icons.stories.tsx
  packages/icons/stories/IndividualIcons.stories.tsx
Due: prettier --write, eslint --fix

Update packages/icons/README.md
  packages/icons/README.md
Due: prettier --write

docs(icons): add react native docs to readme
  packages/icons/README.md
Due: prettier --write

fix(icons): move `IconPathData.json` from gitignore
  .gitignore
  packages/icons/src/IconPathData.json
Due: none

fix(icons): fix dist/icons.esm.js path
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

fix(icons): fix path for dist/icons.esm.js
  packages/icons/stories/IndividualIcons.stories.tsx
Due: prettier --write, eslint --fix

chore: resolve lint error issue
  packages/icons/scripts/add-icon.js
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

chore: build packages before building storybook
  package.json
Due: none

fix(icons): remove all icons list view
  packages/icons/stories/Icons.stories.tsx
  packages/icons/stories/IndividualIcons.stories.tsx
Due: prettier --write, eslint --fix

feat: resolve feedback from #30
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix

fix: resolve issue with missing theme context
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix

chore: save diff
  packages/icons/src/index.tsx
Due: prettier --write, eslint --fix

fix: hardcode color
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

chore(@air/icons): use link instead of npm install for @air/zephyr
  packages/icons/package.json
  yarn.lock
Due: none

chore(@air/icons): adjust tsconfig and remove unused script
  packages/icons/scripts/native.js
  packages/icons/tsconfig.build.json
Due: prettier --write, eslint --fix

feat: add new RawDoc icon
  packages/icons/src/svgs/uncategorized/RawDoc.svg
Due: none

feat(icons): update react-native-svg to 12.1.0 and dependencies
  packages/icons/package.json
  yarn.lock
Due: none

Delete RawDoc.svg
  packages/icons/src/svgs/uncategorized/RawDoc.svg
Due: none

chore: remove reach styles from storybook
  .storybook/preview.js
Due: prettier --write, eslint --fix

fix: update dependencies and a typedef override
  @types/styled-components.d.ts
  packages/icons/package.json
  packages/zephyr/package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: finalize box component API
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/theme/index.ts
Due: prettier --write, eslint --fix

fix: in-progress commit for updating basemodal
  packages/zephyr/src/Modals/BaseModal.tsx
Due: prettier --write, eslint --fix
