Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore: export theme from @air/zephyr
  package.json
  packages/zephyr/package.json
  packages/zephyr/src/index.ts
  packages/zephyr/src/theme/colors.ts
  packages/zephyr/src/theme/index.ts
  packages/zephyr/tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(@air/utilities): import utilities package
  shared-types.ts
Due: prettier --write, eslint --fix

chore: remove prepublish script for zephyr
  packages/zephyr/package.json
Due: none

chore: deactivate lint rule
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

feat(@air/utilities): migrate utilities package
  .prettierignore
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/src/Bytes.ts
  packages/utilities/src/CustomScrollbar.ts
  packages/utilities/src/Initials.ts
  packages/utilities/src/InstagramUrlValidator.ts
  packages/utilities/src/Mimes.ts
  packages/utilities/src/Time.ts
  packages/utilities/src/Url.ts
  packages/utilities/src/index.ts
  packages/utilities/test/Bytes.test.ts
  packages/utilities/test/CustomScrollbar.test.ts
  packages/utilities/test/Initials.test.ts
  packages/utilities/test/InstagramUrlValidator.test.ts
  packages/utilities/test/Mimes.test.ts
  packages/utilities/test/Time.test.ts
  packages/utilities/test/Url.test.ts
  packages/utilities/test/__snapshots__/CustomScrollbar.test.ts.snap
  packages/utilities/tsconfig.build.json
  shared-types.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix lint errors and missing export path
  packages/utilities/src/index.ts
  packages/utilities/test/Mimes.test.ts
  packages/utilities/test/Time.test.ts
Due: prettier --write, eslint --fix

fix: enable coverage reporting
  jest.config.js
Due: prettier --write, eslint --fix

fix: resolve broken import
  packages/zephyr/stories/Button.stories.tsx
Due: prettier --write, eslint --fix

chore: resolve CI-only lint error
  .eslintrc.js
  packages/eslint-config/index.js
  packages/zephyr/src/theme/colors.ts
Due: prettier --write, eslint --fix

chore: remove rule
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore: deactivate lint rule in CI
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: ensure all packages have the some publishConfig and a build command
  packages/browserslist-config/package.json
  packages/eslint-config/package.json
  packages/utilities/package.json
  packages/zephyr/package.json
Due: none

refactor: revert lint overrides
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: update dependencies to force cache bust
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: none

chore: try ignoring rule in CI again
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: try using cache@v2 for GH actions
  .github/workflows/main.yml
Due: none

chore: change dependency listings
  .eslintrc.js
  package.json
  packages/utilities/package.json
Due: prettier --write, eslint --fix

chore: fix CI issues
  .github/workflows/main.yml
  packages/utilities/package.json
Due: none

chore: build in topographical order
  .github/workflows/main.yml
  package.json
Due: none

chore: fix typo
  package.json
Due: none

chore: remove unnecessary extra command
  .github/workflows/main.yml
Due: none

chore: fix bootstrap command
  package.json
Due: none

refactor: remove custom scrollbar utility functions
  packages/utilities/package.json
  packages/utilities/src/CustomScrollbar.ts
  packages/utilities/src/index.ts
  packages/utilities/test/CustomScrollbar.test.ts
Due: prettier --write, eslint --fix

chore: remove unused snapshot test results
  packages/utilities/test/__snapshots__/CustomScrollbar.test.ts.snap
Due: none

chore: define lerna config ahead of release
  lerna.json
Due: none

chore: remove unnecessary config field
  lerna.json
Due: none

chore(release): publish
  packages/browserslist-config/CHANGELOG.md
  packages/browserslist-config/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat(@air/hooks): add package
  package.json
  packages/hooks/README.md
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useToggleBoolean.ts
  packages/hooks/test/useToggleBoolean.test.ts
  packages/hooks/tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

ci: update node version to 14
  .github/workflows/main.yml
  .nvmrc
Due: none

refactor(@air/eslint-config): adjust config and update documentation
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

refactor: use nvm for node version in GH action
  .github/workflows/main.yml
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
Due: prettier --write

fix(@air/eslint-config): fix override file path targets
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

chore: adjust lint config for declaration files
  packages/eslint-config/index.js
Due: prettier --write, eslint --fix

chore: adjust ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none
