Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix(@air/zephyr): update radix tooltip and dropdown
  packages/zephyr/package.json
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
  packages/zephyr/src/Tooltip.tsx
  patches/@radix-ui+react-tooltip+0.0.9.patch
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix(@air/zephyr): fix typescript error in tooltip.tsx
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix second typescript error in tooltip.tsx
  packages/zephyr/src/Tooltip.tsx
Due: prettier --write, eslint --fix

refactor(adds prop to help with use of radix in our modals): add prop to help w/ radix in modals
  packages/zephyr/src/Modals/Modal.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
  packages/zephyr/src/Modals/TransactionModal.tsx
Due: prettier --write, eslint --fix

fix: adds prop to other modal overlay as well
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

feat(@air/icons): add in tiktok icon
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Tiktok.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

fix: adds prop on base level component
  packages/zephyr/src/Modals/ModalOverlay.tsx
Due: prettier --write, eslint --fix

Add Swiggle, Undo and Redo
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Redo.svg
  packages/icons/src/svgs/uncategorized/Swiggle.svg
  packages/icons/src/svgs/uncategorized/Undo.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Add rest of annotation icons
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/AddAnnotation.svg
  packages/icons/src/svgs/uncategorized/AddAnnotationFilled.svg
  packages/icons/src/svgs/uncategorized/Annotate.svg
  packages/icons/src/svgs/uncategorized/BorderedApprove.svg
  packages/icons/src/svgs/uncategorized/BoxAnnotation.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(icons): add open icon
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Open.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(icons): rename Open icon to BilateralCornerArrows
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/BilateralCornerArrows.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: storybook build
  package.json
Due: none

fix: build storybook
  .github/workflows/ci.yml
Due: none

fix: build storybook
  .github/workflows/ci.yml
  package.json
Due: none

fix: help dot
  packages/icons/src/svgComponents/Help.tsx
Due: prettier --write, eslint --fix

fix: google drive colors
  packages/icons/src/svgComponents/GoogleDrive.tsx
Due: prettier --write, eslint --fix

fix: ts fix for react types
  package.json
  yarn.lock
Due: none

fix: update @types/react to fix ts output
  package.json
  yarn.lock
Due: none

Add a bunch of new icons for annotations
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/AnnotationContainer.tsx
  packages/icons/src/svgComponents/AnnotationFilled.tsx
  packages/icons/src/svgComponents/AnnotationOutline.tsx
  packages/icons/src/svgComponents/AnnotationOutlinePlus.tsx
  packages/icons/src/svgComponents/KeyboardShortcut.tsx
  packages/icons/src/svgComponents/LineweightHeavy.tsx
  packages/icons/src/svgComponents/LineweightLight.tsx
  packages/icons/src/svgComponents/LineweightMedium.tsx
  packages/icons/src/svgComponents/Redo.tsx
  packages/icons/src/svgComponents/Resolve.tsx
  packages/icons/src/svgComponents/Swiggle.tsx
  packages/icons/src/svgComponents/Undo.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

perf: default icon name to file name
  packages/icons/scripts/svgToTsx.js
Due: prettier --write, eslint --fix

feat: Add Checkcircled icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/CheckCircled.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

feat(@air/zephyr): add a Textarea Primative
  packages/zephyr/src/EditableText/EditableTextTextarea.tsx
  packages/zephyr/src/EditableText/index.tsx
  packages/zephyr/src/Forms/TextareaPrimitive.tsx
  packages/zephyr/src/Forms/index.ts
  packages/zephyr/stories/forms/TextareaPrimitive.stories.tsx
Due: prettier --write, eslint --fix

chore: removed SingleSelect and react-select
  packages/zephyr/package.json
  packages/zephyr/src/Forms/SingleSelect.tsx
  packages/zephyr/src/Forms/index.ts
  packages/zephyr/stories/forms/SingleSelect.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore(@air/zephyr): add in missing deps
  packages/zephyr/package.json
  yarn.lock
Due: none

chore: update icons storybook selects
  packages/icons/stories/Icons.stories.tsx
Due: prettier --write, eslint --fix

feat: slack Icon
  packages/icons/src/index.ts
  packages/icons/src/svgComponents/Slack.tsx
  packages/icons/stories/iconList.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
