Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat: add disabled to editabletext
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat: add readOnly to EditableText
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

fix: wait for formik submission in editabletext
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix: add required to editabletext
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix: change required text
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix: no trailing spaces in editable text
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

feat: textEdit, SearchImage, and remove icon path file
  packages/icons/package.json
  packages/icons/scripts/grabListOfIconPathData.js
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/ImageSearch.svg
  packages/icons/src/svgs/uncategorized/TextEdit.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat: add onBlur prop in EditableText
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

chore(lerna): bump lerna to 4.0.0
  package.json
  yarn.lock
Due: none

fix(@air/zephyr): fix menu item title spacing
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
Due: prettier --write, eslint --fix

feat: editableText: remove onBlur, fix submit on blur
  packages/zephyr/src/EditableText/EditableTextTextarea.tsx
  packages/zephyr/src/EditableText/index.tsx
  packages/zephyr/src/EditableText/types.ts
Due: prettier --write, eslint --fix

feat: add calendar icon
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Calendar.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/icons): add in discussions and discussions filled icons
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Discussions-Filled.svg
  packages/icons/src/svgs/uncategorized/Discussions.svg
  packages/icons/src/svgs/uncategorized/NestedHidden.svg
  packages/icons/src/svgs/uncategorized/NestedVisible.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

feat: add divider to radixMenuItemRenderProps
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
  packages/zephyr/src/RadixMenu/components/RadixMenuItemDivider.tsx
Due: prettier --write, eslint --fix

fix: switch to marginY instead of my syntax
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
Due: prettier --write, eslint --fix

feat: colorizes certain logos
  packages/icons/src/svgs/uncategorized/BoxLogo.svg
  packages/icons/src/svgs/uncategorized/Dropbox.svg
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: rm unnec class extension
  packages/icons/src/svgs/uncategorized/GoogleDrive.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: added missing key to ContextMenu suboptions
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
Due: prettier --write, eslint --fix

Add subOptionsTxProp
  packages/zephyr/src/RadixMenu/abstractions/RadixDropdownMenu.tsx
  packages/zephyr/src/RadixMenu/components/RadixMenuItem.tsx
Due: prettier --write, eslint --fix

refactor(@air/zephyr): remove baseStyles prop support
  _templates/zephyr/component/component.ejs.t
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/ButtonLink.tsx
  packages/zephyr/src/Forms/InputPrimitive.tsx
  packages/zephyr/src/Forms/LabelPrimitive.tsx
  packages/zephyr/src/Menus/components/MenuItem.tsx
  packages/zephyr/src/Modals/ModalContent.tsx
  packages/zephyr/src/Modals/ModalOverlay.tsx
  packages/zephyr/src/Text.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): allow baseStyles in specific areas
  packages/zephyr/src/Box.tsx
  packages/zephyr/src/Button.tsx
  packages/zephyr/src/Text.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): allowing baseStyles in button link as well
  packages/zephyr/src/ButtonLink.tsx
Due: prettier --write, eslint --fix

feat: [ACT-108] add SideNavOpen/Closed, Field, FileExtension, update Eye, EyeClosed, TextEdit icons
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Eye-Closed.svg
  packages/icons/src/svgs/uncategorized/Eye.svg
  packages/icons/src/svgs/uncategorized/EyeClosed.svg
  packages/icons/src/svgs/uncategorized/Field.svg
  packages/icons/src/svgs/uncategorized/FileExtension.svg
  packages/icons/src/svgs/uncategorized/SidePanelClosed.svg
  packages/icons/src/svgs/uncategorized/SidePanelOpen.svg
  packages/icons/src/svgs/uncategorized/TextEdit.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
