Repository AirLabsTeam/air-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat(@air/zephyr): remove zIndex from menus
  packages/zephyr/src/Menus/abstractions/ContextMenu.tsx
  packages/zephyr/src/Menus/abstractions/DropdownMenu.tsx
  packages/zephyr/stories/menus/abstractions/ContextMenu.stories.tsx
  packages/zephyr/stories/menus/abstractions/DropdownMenu.stories.tsx
Due: prettier --write, eslint --fix

fix: fix XButton size on Modal
  packages/zephyr/src/Modals/Modal.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): change focus to focus-visible for actionsheet menu item
  packages/zephyr/src/ActionSheet/components/ActionSheetItem.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in initial component for editable text component
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

feat(fields.svg): added new icon
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Fields.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore(release): publish
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/zephyr/CHANGELOG.md
  packages/zephyr/package.json
Due: prettier --write

feat: update star icon, add star-filled
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Star.svg
  packages/icons/src/svgs/uncategorized/StarFilled.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

fix: add currentColor
  packages/icons/src/svgs/uncategorized/Star.svg
  packages/icons/src/svgs/uncategorized/StarFilled.svg
Due: svgo --pretty --config=./packages/icons/svgo.config.format.json

feat(@air/zephyr): improve editabletext component and include formik
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix editable text not wrapping properly when theres whitespace
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix editabletext text not wrapping
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix editable not showing placeholder when there's no values present
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix scrollbar appearing in textarea for mouse users
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in label to editable text input
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): add in actionable buttons for non-seeing users
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

docs(@air/zephyr): add documentation to editabletext story
  packages/zephyr/stories/EditableText.stories.tsx
Due: prettier --write, eslint --fix

feat: added upload files and upload folders icons
  packages/icons/src/IconPathData.json
  packages/icons/src/index.tsx
  packages/icons/src/svgs/uncategorized/Upload-File.svg
  packages/icons/src/svgs/uncategorized/Upload-Folder.svg
Due: prettier --write, eslint --fix, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore: updated docs and icons
  packages/icons/README.md
  packages/icons/src/svgs/uncategorized/Upload-File.svg
  packages/icons/src/svgs/uncategorized/Upload-Folder.svg
Due: prettier --write, svgo --pretty --config=./packages/icons/svgo.config.format.json

chore: updated readme
  packages/icons/README.md
Due: prettier --write

update icon instructions
  packages/icons/README.md
Due: prettier --write

Update packages/zephyr/src/EditableText.tsx
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

feat(@air/zephyr): switch out hidden buttons with aria-describeby
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): remove extending box props in textarea
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

Update packages/icons/README.md
  packages/icons/README.md
Due: prettier --write

fix(@air/zephyr): fix export for board title component
  packages/zephyr/src/EditableText.tsx
  packages/zephyr/src/index.ts
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in data-testid to editabletext component
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): add in as export to editable text
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

fix(@air/zephyr): fix as prop missing in prop destructure
  packages/zephyr/src/EditableText.tsx
Due: prettier --write, eslint --fix

chore: link storybooks
  .storybook/main.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,mdx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,jsx,tsx,mdx}
  svgo --pretty --config=./packages/icons/svgo.config.format.json: any of: *.svg
